head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Hacking STEM - Microsoft Educator Center (Preview)
  meta(property='og:locale' content='en-us')
  meta(property='og:title' content='Microsoft Educator CentrePreview')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://preview.education.microsoft.com')
  meta(property='og:image' content='https://cdn.preview.education.microsoft.com/content/en-us/pages/homepage/training_1083x609.jpg')
  meta(property='og:image:width' content='1083')
  meta(property='og:image:height' content='609')
  meta(property='og:site_name' content='Microsoft Educator Centre Preview')
  meta(property='og:description' content='Welcome to the first courses available in your updated Microsoft Educator Centre. Explore new concepts and develop skills while you earn professional development credit.')
  meta(property='fb:app_id' content='340113966709947')
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='@MicrosoftEDU')
  link(rel='stylesheet' href='https://cdn.preview.education.microsoft.com/dist/public/20190729.2/styles.8ea008340c035216c39d.css')
  link(rel='stylesheet' href='https://www.microsoft.com/mwf/css/bundle/1.55.0/west-european/default/mwf-main.min.css?apiVersion=1.0')
  link(rel='icon' type='image/x-icon' href='https://cdn.preview.education.microsoft.com/content/en-us/shared/favicon.ico')
  link(rel='stylesheet' href='/styles.css')
  link(rel='canonical' href='https://preview.education.microsoft.com/hackingStem' data-react-helmet='true')
  meta(name='description' content='Build affordable inquiry and project-based activities to visualize data across science, technology, engineering, and math (STEM) curriculum. Middle school standards-based lesson plans written by teachers for teachers.' data-react-helmet='true')
  script.
    const pool = require('./express-api/data/config');
    function test(forumid){
    pool.query('SELECT * FROM forums WHERE id = ?', forumid,  (error, result) => {
    if (error) throw error;
    const forum = JSON.parse(result);
    console.log('froum.name');
    })
    }
  script.
    function AddDiscussion(){
    var Start = document.getElementById('ListStart');
    var DiscussionContent = document.getElementById('DiscussionInput').value;
    console.log(DiscussionContent);
    var template = document.getElementById('template');
    var finalHtml = template.innerHTML
    .replace("{Discussion Question}", DiscussionContent);
    //var noDiscussionText = document.getElementById('noDiscussions');
    //noDiscussionText.remove();
    //document.body.insertAdjacentHTML('beforeend', finalHtml);//
    Start.insertAdjacentHTML('beforeend', finalHtml);
    
    
    }

  
#root
  .c011
    header.c012.c013(data-auto-id='navbar')
      .c014.c0111.container
        .c015
          div(data-auto-id='navbarMicrosoftLink')
            a.c016(href='https://www.microsoft.com')
              img.c017(src='https://cdn.preview.education.microsoft.com/content/en-us/shared/MicrosoftLogo.png' alt='Microsoft')
          .c018(data-auto-id='navbarHomelink')
            a.c019(href='/')
              | Educator Center
              sup.c0110 Preview
        .c015
          a.c015h(href='HackingSTEMHome.html') Hacking STEM Home
          a.c015h(href='Projectlibrary.html') Project Library
          a.c015h(href='./NewCommunity.html') Community
          a.c015h(href='ContactHackingSTEM.html') Contact Hacking STEM
          a.c015h(href='CreateAProject.html') Create a Project
        a.c015(data-auto-id='navbarSignIn' href='/login') Sign In
    div(role='main')
      section.c0124.m-hero-item.f-x-left.f-y-center.context-accessory.f-mask-100
        picture
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 1779px)')
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 1400px)')
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 1084px)')
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 768px)')
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 540px)')
          source(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' media='(min-width: 0)')
          img(srcset='https://sxbclq.dm.files.1drv.com/y4mGXhz3_iLlhwYAud10JOFOh_aQqf1zGZ5kMxCX9G3ErZauFY4IiR3jnfQzB1TKzqMrw67rJ6geFIZxuJbpDDz7CmzxgKjNCQ0i6FwV2RKrH20nBEUdulUPc5N_Maz-q9ieNqtRBX0CzvGzldvmPOPCXfMfx-rvOQAyTxUxALAgupyuFCx3nNl94FoxwxYtsTbMsmTZ9IpTSnyKkhNzE45sQ/dragon_edited_001.jpg?psid=1' alt='')
        .c0131.c0111.container(data-auto-id='hero-content')
          .c0132.row
            h1.c0127(data-auto-id='hero-title' data-hero-title='Your Communities' title='Your Communities') Your Communities
            .c0130.c-caption(data-auto-id='hero-sub-title' data-hero-sub-title='Help build the Hacking STEM curriculum by connecting with your communtity and making projects more accesible for teachers of all backgrounds')
              .LinesEllipsis
                | Help build the Hacking STEM curriculum by connecting with
                | your community and making projects more accessible for teachers of all backgrounds.
                wbr
      section(name='menu')
        .c0131.c0111.container
          .colmenu
            .menu
              h3 Find a Discussion
              .dropdown
                .sidenav
                svg(height='3' width='300')
                  line(x1='0' y1='0' x2='345' y2='0' style='stroke:#888888;stroke-width:2;')
                button.dropdown-btn(style='font-size:15pt')
                  | My Discussions
                  i.arrow.right
                .dropdown-container
                  input.forumsearch(type='text' placeholder='Search')
                  a.droptexts(forumid='3' href='http://localhost:3002/forums/3') DataStreamer
                  br
                  a.droptexts(forumid='4' href='http://localhost:3002/forums/4') Lemon battery
                  br
                  a.droptexts(forumid='1' href='http://localhost:3002/forums/5') Robotic hand
                  br
                svg(height='3' width='300')
                  line(x1='0' y1='0' x2='345' y2='0' style='stroke:#888888;stroke-width:2;')
                button.dropdown-btn(style='font-size:15pt')
                  | Projects
                  i.arrow.right
                .dropdown-container
                  input.forumsearch(type='text' placeholder='Search')
                  a.droptexts(forumid='2' href='http://localhost:3002/forums/2') Astrosocks
                  br
                  a.droptexts(forumid='1' href='http://localhost:3002/forums/1') Robotic hand
                  br
                  a.droptexts(forumid='5' href='http://localhost:3002/forums/5') Tuned Mass Damper
                  br
                  a.droptexts(forumid='4' href='http://localhost:3002/forums/4') Lemon Battery
                  br
                  a.droptexts(forumid='8' href='http://localhost:3002/forums/8') Wave Machine
                  br
                  a.droptexts(forumid='9' href='http://localhost:3002/forums/9') Brain gong
                  br
                  a.droptexts(forumid='13' href='http://localhost:3002/forums/13') Windmill
                  br
                svg(height='3' width='300')
                  line(x1='0' y1='0' x2='345' y2='0' style='stroke:#888888;stroke-width:2;')
                button.dropdown-btn(style='font-size:15pt')
                  | Technology
                  i.arrow.right
                .dropdown-container
                  input.forumsearch(type='text' placeholder='Search')
                  a.droptexts(forumid='3' href='http://localhost:3002/forums/3') DataStreamer
                  br
                  a.droptexts(forumid='10' href='http://localhost:3002/forums/10') Micro:bit
                  br
                svg(height='3' width='300')
                  line(x1='0' y1='0' x2='345' y2='0' style='stroke:#888888;stroke-width:2;')
                button.dropdown-btn(style='font-size:15pt')
                  | General
                  i.arrow.right
                .dropdown-container
                  input.forumsearch(type='text' placeholder='Search')
                  a.droptexts(forumid='6' href='http://localhost:3002/forums/6') Renewable Energy
                  br
                  a.droptexts(forumid='7' href='http://localhost:3002/forums/7') Elementary
                  br
                  a.droptexts(forumid='11' href='http://localhost:3002/forums/11') High School
                  br
                  a.droptexts(forumid='12' href='http://localhost:3002/forums/12') Orbies
                  br
                script.
                  //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
                  var dropdown = document.getElementsByClassName("dropdown-btn");
                  var i;
                  for (i = 0; i < dropdown.length; i++) {
                  dropdown[i].addEventListener("click", function () {
                  this.classList.toggle("active");
                  var dropdownContent = this.nextElementSibling;
                  if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                  } else {
                  dropdownContent.style.display = "block";
                  }
                  });
                  }
                  
          .colforum
            // Search Bar for the Discussions!
            //
              <input type= "text" placeholder = "Search for Questions, Key Words" style="margin:-10px 10px 20px 0px; border-style: solid; border-width:1px; border-color:#2266E3; padding: 5px; width: 460px;">
            // Discussion Topic!! Filler is Robotic Hand
            #Topic
              br
              h2(style= 'margin-bottom:15px') #{JSON.parse(forum).name}

             

              - for (var i = 0; i < 5; ++i) {
                script.
                  function GetDiscussion(i){
                  var Start = document.getElementById('ListStart');
                  var DiscussionContent = JSON.parse(discussions[id].question);
                  console.log('hello world'); 
                  var template = document.getElementById('template'); 
                  var finalHtml = template.innerHTML
                  .replace("{Discussion Question}", DiscussionContent); 
                  Start.insertAdjacentHTML('beforeend', finalHtml);
                  } 
                - }

                
              
              // Search Bar for the Discussions!
              input(type='text' placeholder='Search for Questions, Key Words' style='margin:-5px 10px 20px 0px; border-style: solid; border-width:1px; border-color:#2266E3; padding: 5px; width: 460px;')
              a(href='Discussion Page.html')
                .discussionB(style='\
                width: 794.97;\
                height: 97.26px;\
                border-width: 1px;\
                border-color: #979797;\
                border-style: solid;\
                padding: 15px 20px 15px 40px;\
                font-size: 17px;')
                  b {Discussion Question}
                  br
                  |                                         No current answer
                  img(src='https://image.flaticon.com/icons/png/512/118/118740.png' style='width:20px; float:right; vertical-align:center')
            #ListStart
            // <p id="noDiscussions">You have no current discussions. Join or make one to get started!</p>
            // discussion box things!
            #template(style='display:none')
              .discussionB(style='\
              width: 794.97;\
              height: 97.26px;\
              border-width: 1px;\
              border-color: #979797;\
              border-style: solid;\
              padding: 15px 20px 15px 40px;\
              font-size: 17px;')
                a(href='Discussion Page.html')
                  a(href='Discussion Page.html')
                    b {Discussion Question}
                    br
                  |                                          No current answer
                img(src='https://image.flaticon.com/icons/png/512/118/118740.png' style='width:20px; float:right; margin-bottom:100px; ')
            br
            svg(height='3' width='797px')
              line(x1='0' y1='0' x2='797px' y2='0' style='stroke:#888888;stroke-width:2;')
            br
            br
            h4 Add a Discussion
            form(action='http://localhost:3002/discussions' method='post' onsubmit='return validate();')
              //
                <label for = "question">Question</label>
                <input type = "text" name = "question">
              label(for='forum' style='padding: 5px 0px 0px 0px') Which Forums do you want to ask this question to?
              br
              input(type='text' name='forums' placeholder='Forum Topic' style='padding:5px')
              //
                <input type = "hidden" name= "id" value="5">
                <input type = "hidden" name= "date" value="" id="date">
                <input type = "submit">
            #input
              div
                textarea#DiscussionInput(type='text' name='forums' style='width: 794.97px; height: 126.42px; padding:5px' placeholder='Share a question, story or idea')
              button#submitButton.c0149.c-call-to-action.c-glyph(onclick='AddDiscussion();' style='margin-right:18%; margin-top:15px; float:right; width:150px; text-align:center; color: #ffffff')
                span.c0131 Submit
            //
              <p id = "PleaseWork">
              hows it going
              </p>
              <script>
              document.getElementById("PleaseWork").innerhtml = "Hello World";
              document.write("suadsfads");
              </script>
              <button onclick = "test(2)">try me</button>
    footer.c0116
      .c0117.c0111.container
        a.c0118.c0119(href='https://support.microsoft.com/contactus/') Contact us
        a.c0118.c0119(href='https://privacy.microsoft.com/PrivacyStatement')
          | Privacy &amp;
          | cookies
        a.c0118.c0119(href='https://www.microsoft.com/servicesagreement/') Terms of use
        span.c0118 &copy; Microsoft 2019
